#pages_top {}
#pages_top .title {padding:0 0 7px 0;margin:0 0 40px 0;border-bottom:#dfdfdf solid 1px;height:28px;}
#pages_top .title .xl {float:left;}
#pages_top .title .xl h2 {font-family:"malgun gothic",dotum;font-size:20px;padding:0;margin:0;}
#pages_top .title .xr {float:right;}
#pages_top .title .xr ul {padding:0;margin:0;}
#pages_top .title .xr li {position:relative;top:8px;height:26px;list-style-type:none;float:left;border-top:#dfdfdf solid 1px;border-right:#dfdfdf solid 1px;border-bottom:#dfdfdf solid 1px;background:#f9f9f9;cursor:pointer;color:#666666;}
#pages_top .title .xr li a {display:block;padding:7px 7px 7px 7px;}
#pages_top .title .xr li a img {position:relative;top:-3px;}
#pages_top .title .xr .leftside {border-left:#dfdfdf solid 1px;}
#pages_top .title .xr .selected {border-bottom:#ffffff solid 1px;background:#ffffff;color:#000000;font-weight:bold;letter-spacing:-1px;}
#pages_top .title .xr li .morebox {position:absolute;display:none;}
#pages_top .title .xr li .morebox ul {position:relative;top:26px;left:-1px;width:69px;padding:1px;margin:0;border:#dfdfdf solid 1px;background:#ffffff;}
#pages_top .title .xr li .morebox li {list-style-type:none;padding:0;margin:0;float:none;height:22px;border-top:0;border-right:0;border-bottom:0;top:0;background:#ffffff;}
#pages_top .title .xr li .morebox li a {display:block;padding:3px 0 3px 6px;height:15px;}
#pages_top .title .xr li .morebox li:hover {background:#f9f9f9;}
#pages_top .title .xr li .morebox .nowdisp a {background:#ff0000;color:#ffffff;}

#sitebox {}
#sitebox .infobox {}
#sitebox .infobox .td1 {padding:7px 0 7px 15px;width:90px;}
#sitebox .infobox .td1 .himg {position:relative;top:1px;left:3px;}
#sitebox .infobox .td2 {padding:7px 15px 7px 0;}
#sitebox .infobox .td2 .sname {width:174px;}
#sitebox .infobox .td2 .select1 {width:180px;letter-spacing:-1px;}
#sitebox .infobox .td2 img {position:relative;top:3px;}
#sitebox .infobox .td2 .nodomain {position:relative;left:-3px;color:#999;padding:3px 0 3px 21px;background:url('../../../../_core/image/_public/ico_notice.gif') left no-repeat;}
#sitebox .infobox .td2 .jtdomain {font:normal 11px dotum;color:#5392FB;text-decoration:underline;}
#sitebox .infobox .td2 ul {padding:0;margin:0;}
#sitebox .infobox .td2 li {list-style-type:none;padding:3px 0 3px 21px;background:url('./image/bg_earth.gif') left no-repeat;}
#sitebox .infobox .td2 li a {font:normal 12px arial;color:#222;}
#sitebox .infobox .td2 li a:hover {text-decoration:underline;}
#sitebox .infobox .m {font-size:11px;font-family:dotum;color:#888;letter-spacing:-1px;}
#sitebox .infobox .guide {font-size:11px;font-family:dotum;color:#555;line-height:170%;padding:20px 0 0 15px;margin:0 0 15px 0;border-top:#dfdfdf dashed 1px;}
#sitebox .infobox .headertail {padding:0 0 0 15px;display:none;}
#sitebox .infobox .headertail .tt {padding:25px 0 10px 0;font-weight:bold;}
#sitebox .infobox .headertail .tt span {font-weight:normal;font-size:11px;font-family:dotum;color:#999;}
#sitebox .infobox .headertail textarea {width:580px;overflow:auto;padding:5px 0 5px 5px;line-height:150%;color:#000000;font-family:"Courier new",arial,dotum;font-size:9pt;}
#sitebox .infobox  .submitbox {margin:20px 0 20px 0;padding:15px 0 0 15px;border-top:#dfdfdf dashed 1px;}

#pages_all {padding:0 0 30px 0;}
#pages_all .info {height:28px;}
#pages_all .info .article {float:left;font-size:11px;font-family:gothic,dotum;color:#c0c0c0;padding:5px 0 0 5px;}
#pages_all .info .category {float:right;}
#pages_all table {width:100%;border-spacing:0px;border-collapse:collapse;}
#pages_all table caption {display:none;}
#pages_all thead th {height:28px;border-top:#D2D2D2 solid 1px;border-bottom:#D2D2D2 solid 1px;background:url('../../../../_core/image/_public/bg_list_tt.jpg');font-size:11px;font-family:dotum;font-weight:normal;color:#787878;}
#pages_all thead .side1 {border-left:#D2D2D2 solid 1px;}
#pages_all thead .side2 {border-right:#D2D2D2 solid 1px;}
#pages_all tbody td {text-align:center;color:#888888;font-family:arial;font-size:11px;border-bottom:#E6E6E6 solid 1px;letter-spacing:-1px;}
#pages_all .cat {font-size:12px;font-family:gothic,gulim;color:#888;letter-spacing:-1px;}
#pages_all .sbj {padding:5px 0 3px 0;letter-spacing:-1px;}
#pages_all .sbj a {font-size:12px;font-family:gulim;color:#222222;text-decoration:none;line-height:150%;}
#pages_all .sbj a:hover {text-decoration:underline;}
#pages_all .sbj .new {color:#ff0000;}
#pages_all .sbj1 {padding:5px 0 3px 0;font-size:12px;font-family:gothic,gulim;color:#222222;line-height:150%;}
#pages_all .pagebox01 {text-align:center;padding:15px 0 0 0;}
#pages_all .none {display:none;}
#pages_all .searchform {padding:30px 0 0 0;text-align:center;}
#pages_all .searchform select {font-size:12px;font-family:gulim;height:20px;vertical-align:bottom;}

#catebody {margin:0 0 30px 0;padding:0 0 30px 0;}
#category {float:left;width:220px;padding:0 0 0 0;}
#category .title {height:19px;background:url('../../../../_core/image/tree/default/top.gif') left no-repeat #dfdfdf;background-position:4px 3px;padding:6px 0 0 23px;}
#category .title .xml {position:absolute;}
#category .title .xml a {position:relative;top:-2px;left:134px;}
#category .tt1 {font-weight:bold;color:#222;height:19px;background:url('../../../../_core/image/_public/ico_folder_02.gif') left no-repeat;background-position:5px 7px;padding:8px 0 0 30px;margin:5px 0 0 0;border-bottom:#efefef solid 1px;}
#category .savebtn {text-align:right;}
#category .savebtn input,#category .savebtn img {position:relative;top:27px;cursor:pointer;}
#category ul {margin:0;padding:10px 0 0 0;display:none;}
#category li {list-style-type:none;padding:3px 0 3px 7px;color:#333;}
#category li input {display:none;}
#category li .drag {position:relative;top:2px;cursor:move;}
#category .joinimg {height:15px;background:url('../../../../_core/image/tree/default/line.gif') left repeat-y;background-position:4px 0;}
#category .tree {position:relative;top:0;_top:-11px;left:4px;}
#category .ie7 {position:relative;top:-11px;}
#category .tree img {vertical-align:top;}
#category .tree .name {color:#111;padding:2px 0 0 0;}
#category .tree .name:hover {color:#AECD63;}
#category .tree .hidden {color:#c0c0c0;}
#category .tree .hidden:hover {color:#c0c0c0;}
#category .tree .mobile {position:relative;top:-3px;}
#category .tree .on {background:#AECD63;color:#ffffff;padding:2px;}
#category .tree .num {font-family:arial;font-size:10px;color:#ff7700;padding-left:3px;}
#category .none {height:15px;margin:15px 0 0 0;padding:3px 0 0 25px;background:url('../../../../_core/image/_public/ico_notice.gif') left no-repeat;background-position:4px 2px;font-family:dotum;font-size:13px;color:#c0c0c0;}

#catinfo {margin-left:220px;padding:0 0 0 20px;}
#catinfo .title {background:#dfdfdf;height:25px;}
#catinfo .title .xleft {float:left;padding:6px 0 0 23px;}
#catinfo .title .xright {float:right;padding:7px 7px 0 0;}
#catinfo .title .xright a {font:normal 11px dotum;color:#888;}
#catinfo .td1 {padding:13px 0 7px 15px;width:80px;vertical-align:top;}
#catinfo .td1 .dn {position:relative;top:3px;}
#catinfo .td2 {padding:7px 0 7px 0;}
#catinfo .td2 .dn {position:relative;top:4px;}
#catinfo .td2 .sname1 {width:174px;}
#catinfo .td2 .sname2 {width:325px;}
#catinfo .td2 .select1 {width:180px;letter-spacing:-1px;}
#catinfo .td2 .guide {font-size:11px;font-family:dotum;color:#555;line-height:150%;padding:10px 0 0 0;}
#catinfo .td2 .w {width:179px;}
#catinfo .td2 .dm {position:relative;top:2px;padding:5px;margin:0 3px 0 0;border:#dfdfdf solid 1px;background:#f9f9f9;cursor:pointer;}
#catinfo .td2 .upfile {width:272px;}
#catinfo .td2 .add {height:40px;}
#catinfo .td2 .addr1 {color:#666;line-height:170%;}
#catinfo .td2 .addr1 .link {font-weight:bold;color:#ff0000;}
#catinfo .td2 textarea {padding:5px;margin:0;width:330px;height:100px;overflow-x:hidden;overflow-y:auto;line-height:150%;color:#000000;font-family:Courier new, arial, dotum;font-size:9pt;text-align:left;}
#catinfo .td2 div {padding:10px 0 0 0;font-size:11px;font-family:dotum;color:#555;}
#catinfo .sbcopybox {padding:0 0 15px 0;color:#888;}
#catinfo .notice {padding:15px 0 10px 15px;margin:0 0 20px 0;font-size:11px;font-family:dotum;color:#02B6D6;border-bottom:#dfdfdf dashed 1px;line-height:150%;}
#catinfo .submitbox {margin:20px 0 20px 0;padding:15px 0 0 100px;border-top:#dfdfdf dashed 1px;}

#pageinfo {}
#pageinfo .title {background:#dfdfdf;height:25px;}
#pageinfo .title .xleft {float:left;padding:6px 0 0 23px;}
#pageinfo .title .xright {float:right;padding:7px 7px 0 0;}
#pageinfo .title .xright a {font:normal 11px dotum;color:#888;}
#pageinfo .td1 {padding:13px 0 7px 15px;width:90px;vertical-align:top;}
#pageinfo .td2 {padding:7px 0 7px 0;}
#pageinfo .td2 .sname {width:174px;}
#pageinfo .td2 .sname1 {width:307px;}
#pageinfo .td2 .select1 {width:180px;letter-spacing:-1px;}
#pageinfo .td2 .select2 {width:130px;letter-spacing:-1px;}
#pageinfo .td2 .dn {position:relative;top:4px;}
#pageinfo .td2 .guide {font-size:11px;font-family:dotum;color:#555;line-height:150%;padding:10px 0 0 0;}
#pageinfo .td2 .w {width:179px;}
#pageinfo .td2 .addr1 {color:#666;line-height:170%;}
#pageinfo .td2 .addr1 .link {font-weight:bold;color:#ff0000;}
#pageinfo .notice {padding:15px 0 10px 15px;margin:0 0 20px 0;font-size:11px;font-family:dotum;color:#02B6D6;border-bottom:#dfdfdf dashed 1px;line-height:150%;}
#pageinfo .submitbox {margin:20px 0 20px 0;padding:15px 0 0 108px;border-top:#dfdfdf dashed 1px;}

#pages_widget {}
#pages_widget .tt {border-bottom:#dfdfdf dashed 1px;padding:0 0 20px 0;margin:0 0 20px 0;}
#pages_widget .posrel {position:absolute;top:0;}
