#codebox {width:100%;}
#codebox .header {height:50px;border-bottom:#000000 solid 1px;background:#343B48;}
#codebox .header h1 {float:left;padding:3px 20px 0 20px;margin:0;font-family:"malgun gothic";font-size:26px;color:#ffffff;}
#codebox .header .guide {float:left;border-left:#999 dotted 1px;color:#888;font-family:dotum;font-size:11px;line-height:150%;margin:10px 0 0 0;padding:0 0 0 20px;}
#codebox .line1 {height:1px;background:#1ACAD4;}
#codebox .line2 {height:2px;background:#0BA2B4;}
#codebox .line3 {height:1px;background:#037F93;}
#codebox .info{height:30px;line-height:140%;padding:5px 5px 0 5px;}
#codebox .gallery {padding:30px 0 20px 0;border-bottom:#dfdfdf solid 1px;}
#codebox .gallery .picbox {float:left;margin:0 18px 0 10px;}
#codebox .gallery .picbox .pic {padding:2px;border:#efefef solid 1px;background:#f9f9f9;}
#codebox .gallery .picbox .sbjx {font-size:12px;font-family:gothic;line-height:140%;padding:5px 5px 0 5px;height:35px;overflow:hidden;}
#codebox .gallery .picbox .sbjx .imgpos {margin-bottom:-1px;}
#codebox .gallery .picbox .sbjx .cat {font-size:12px;font-family:gothic,gulim;color:#888;letter-spacing:-1px;}
#codebox .gallery .picbox .sbjx .comment {font:normal 11px arial;color:#FC6138;}
#codebox .gallery .picbox .sbjx .new {font-family:arial;font-size:10px;color:#ff0000;}
#codebox .innoFD {}
#codebox .footer {height:30px;border-top:#dfdfdf solid 1px;text-align:center;padding:10px 0 0 0;background:#efefef;}
