#guidebox {margin:200px auto;width:400px;padding:20px;border:#dfdfdf solid 5px;}
#guidebox h1 {font-family:"malgun gothic";font-size:25px;}
#guidebox ul {}
#guidebox li {padding:5px 0 5px 0;color:#999;}