#rewritebox {}
#rewritebox .title {font-weight:bold;padding:10px 0 0 0;margin:0 0 20px 0;}

#rewritebox .area {border:#EFEFEF solid 1px;padding:6px 0 6px 10px;}
#rewritebox .area textarea {border:0;line-height:150%;font-family:arial;font-size:12px;color:#888;width:98%;height:500px;overflow:auto;}

#rewritebox .submitbox {padding:15px 0 0 0;}