<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <httpRuntime executionTimeout="43200" maxRequestLength="104856" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </assemblies>
  </compilation>

    <sessionState mode="InProc" cookieless="false" timeout="720"/>

  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.cshtml" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="838860800" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />	  
    <rewrite>
      <rules>
        <rule name="RX_rewrite_1">
          <match url="^(admin)/?$" />
          <action type="Rewrite" url="index.cshtml?m={R:1}&amp;module={R:1}" />
        </rule>
        <rule name="RX_rewrite_2">
          <match url="^(p)/([a-z0-9_]+)/?$" />
          <action type="Rewrite" url="index.cshtml?mod={R:2}" />
        </rule>
        <rule name="RX_rewrite_3">
          <match url="^(c)/([a-zA-Z0-9_/]+)/?$" />
          <action type="Rewrite" url="index.cshtml?c={R:2}" />
        </rule>
        <rule name="RX_rewrite_4">
          <match url="^([0-9]+)/?$" />
          <action type="Rewrite" url="index.cshtml?m=bbs&amp;uid={R:1}" />
        </rule>
        <rule name="RX_rewrite_5">
          <match url="^([0-9]+)/?$" />
          <action type="Rewrite" url="index.cshtml?m=bbs" />
        </rule>
        <rule name="RX_rewrite_6">
          <match url="^(b)/([a-zA-Z0-9_]+)/?$" />
          <action type="Rewrite" url="index.cshtml?m=bbs&amp;bid={R:2}" />
        </rule>
        <rule name="RX_rewrite_7">
          <match url="^(b)/([a-zA-Z0-9_]+)/([0-9]+)/?$" />
          <action type="Rewrite" url="index.cshtml?m=bbs&amp;bid={R:2}&amp;uid={R:3}" />
        </rule>
        <rule name="RX_rewrite_8">
          <match url="^(b)/([a-zA-Z0-9_]+)/write/?$" />
          <action type="Rewrite" url="index.cshtml?m=bbs&amp;bid={R:2}&amp;mod=write" />
        </rule>
        <rule name="RX_rewrite_9">
          <match url="^(b)/([a-zA-Z0-9_]+)/write/?$" />
          <action type="Rewrite" url="index.cshtml?m=bbs&amp;bid={R:2}&amp;uid={R:3}&amp;s={R:4}" />
        </rule>
        <rule name="RX_rewrite_10">
          <match url="^(b)/([a-zA-Z0-9_]+)/([0-9]+)/([0-9]+)/?$" />
          <action type="Rewrite" url="index.cshtml?m=bbs&amp;bid={R:2}&amp;uid={R:3}&amp;CMT={R:4}#CMT" />
        </rule>
        <rule name="RX_rewrite_11">
          <match url="^(b)/([a-zA-Z0-9_]+)/([0-9]+)/([0-9]+)/s([0-9]+)/?$" />
          <action type="Rewrite" url="index.cshtml?m=bbs&amp;bid={R;2}&amp;uid={R:3}&amp;CMT={R:4}&amp;s={R:5}#CMT" />
        </rule>
        <rule name="RX_rewrite_12">
          <match url="^([a-zA-Z0-9_]+)/?$" />
          <action type="Rewrite" url="index.cshtml?r={R:1}" />
        </rule>
        <rule name="RX_rewrite_13">
          <match url="^([a-zA-Z0-9_]+)/(admin)/?$" />
          <action type="Rewrite" url="index.cshtml?r={R:1}&amp;m={R:2}&amp;mdule={R:2}" />
        </rule>
        <rule name="RX_rewrite_14">
          <match url="^([a-zA-Z0-9_]+)/(p)/([a-z0-9_]+)/?$" />
          <action type="Rewrite" url="index.cshtml?r={R:1}&amp;mod={R:3}" />
        </rule>
        <rule name="RX_rewrite_15">
          <match url="^([a-zA-Z0-9_]+)/(c)/([a-zA-Z0-9_/]+)/?$" />
          <action type="Rewrite" url="index.cshtml?r={R:1}&amp;c={R:3}" />
        </rule>
        <rule name="RX_rewrite_16">
          <match url="^([a-zA-Z0-9_]+)/([0-9]+)/?$" />
          <action type="Rewrite" url="index.cshtml?r={R:1}&amp;m=bbs&amp;uid={R:2}" />
        </rule>
        <rule name="RX_rewrite_17">
          <match url="^([a-zA-Z0-9_]+)/(b)/?$" />
          <action type="Rewrite" url="index.cshtml?r={R:1}&amp;m=bbs" />
        </rule>
        <rule name="RX_rewrite_18">
          <match url="^([a-zA-Z0-9_]+)/(b)/([a-zA-Z0-9_]+)/?$" />
          <action type="Rewrite" url="index.cshtml?r={R:1}&amp;m=bbs&amp;bid={R:3}" />
        </rule>
        <rule name="RX_rewrite_19">
          <match url="^([a-zA-Z0-9_]+)/(b)/([a-zA-Z0-9_]+)/([0-9]+)/?$" />
          <action type="Rewrite" url="index.cshtml?r={R:1}&amp;m=bbs&amp;bid={R:3}&amp;uid={R:4}" />
        </rule>
        <rule name="RX_rewrite_20">
          <match url="^([a-zA-Z0-9_]+)/(b)/([a-zA-Z0-9_]+)/write/?$" />
          <action type="Rewrite" url="index.cshtml?r={R:1}&amp;m=bbs&amp;bid={R:3}&amp;mod=write" />
        </rule>
        <rule name="RX_rewrite_21">
          <match url="^([a-zA-Z0-9_]+)/(b)/([a-zA-Z0-9_]+)/([0-9]+)/s([0-9]+)/?$" />
          <action type="Rewrite" url="index.cshtml?r={R:1}&amp;m=bbs&amp;bid={R:3}&amp;uid={R:4}&amp;s={R:5}" />
        </rule>
        <rule name="RX_rewrite_22">
          <match url="^([a-zA-Z0-9_]+)/(b)/([a-zA-Z0-9_]+)/([0-9]+)/([0-9]+)/?$" />
          <action type="Rewrite" url="index.cshtml?r={R:1}&amp;m=bbs&amp;bid={R:3}&amp;uid={R:4}&amp;CMT={R:5}#CMT" />
        </rule>
        <rule name="RX_rewrite_23">
          <match url="^([a-zA-Z0-9_]+)/(b)/([a-zA-Z0-9_]+)/([0-9]+)/([0-9]+)/s([0-9]+)/?$" />
          <action type="Rewrite" url="index.cshtml?r={R:1}&amp;m=bbs&amp;bid={R:3}&amp;uid={R:4}&amp;CMT={R:5}&amp;s={R:6}#CMT" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe.4.0" />
            <add invariant="System.Data.SqlServerCe.4.0" name="Microsoft® SQL Server® Compact 4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        </DbProviderFactories>
    </system.data>

</configuration>