body {overflow:hidden;background:#ffffff;}

#editbox {border:#e0e0e0 solid 1px;}
#editbox .tools {height:26px;padding:5px 5px 0 5px;margin:0;background:#f9f9f9;border-bottom:#e0e0e0 solid 1px;display:none;}
#editbox .tools img {position:relative;cursor:pointer;}
#editbox .tools .hsizeBox {position:absolute;width:100%;text-align:right;}
#editbox .tools .hsizeBox img {position:relative;left:-11px;}
#editbox .area {padding:0;margin:5px;}
#editbox .area iframe {display:block;width:100%;height:0px;line-height:150%;font-family:gulim;font-size:12px;border:0px;padding:0;margin:0;overflow:auto;}
#editbox .area textarea {position:relative;display:none;width:100%;height:0px;line-height:150%;font-family:gulim;font-size:12px;border:0;padding:0;margin:0;overflow:auto;}
#editbox .status {display:none;}

#setCssCode {display:none;}
#setIfrCode {display:none;}
#EditLayer {display:none;}
#EditLayer iframe {margin:0;padding:0;}
.colorbox {width:11px;height:11px;cursor:pointer;}
