/* 테마명칭 : black */

/* 메뉴 외곽틀 색상 */
#header .tabmenu {border:#1F1F1F solid 1px;}

/* 메뉴 내부틀 색상 및 배경색 */
#header .tabmenu .twrap {border:#454545 solid 1px;background:#2B2B2B;}

/* 메뉴 색상 */
#header .tabmenu .twrap li a {color:#F9FEF8;}

 /* 선택된 메뉴 색상 */
#header .tabmenu .twrap li .on {color:#FEC732;}

 /* 서브메뉴 레이어 틀 색상 */
#header .tabmenu .twrap li div dl {border:#1F1F1F solid 1px;}

 /* 메뉴와 메뉴 사이의 구분선 색상 */
#header .tabmenu .twrap .vline {border-right:#666666 solid 1px;border-left:#000000 solid 1px;}

 /* 2차 서브메뉴 색상 */
#header .tabmenu .twrap li div dt a {color:#222222;}

 /* 3차 서브메뉴 색상 */
#header .tabmenu .twrap li div dd a {color:#222222;}