.widget_post02 {position:relative;padding:0;}
.widget_post02 h6 {border-bottom:#dfdfdf solid 1px;padding:0 0 9px 0;margin:0 0 5px 0;font-weight:bold;font-family:"gothic","dotum";font-size:13px;color:#384799;}
.widget_post02 h6 a {color:#384799;}
.widget_post02 ul {padding:0;margin:0;}
.widget_post02 li {list-style-type:none;padding:5px 0 5px 0;line-height:140%;border-bottom:#dfdfdf dotted 1px;}
.widget_post02 li a {font-family:dotum;font-size:12px;color:#444;}
.widget_post02 li a:hover {text-decoration:underline;}
.widget_post02 li .date {font:normal 11px arial;color:#999;margin-right:2px;}
.widget_post02 li .comment {font:normal 11px arial;color:#FC6138;}
.widget_post02 li .new {font-family:arial;font-size:10px;color:#ff0000;}
.widget_post02 .none {border:0;}
.widget_post02 .more {position:absolute;top:4px;right:1px;font-size:11px;font-family:dotum;color:#c0c0c0;}
.widget_post02 .more:hover {text-decoration:underline;color:#000000;}