#mypage_main {padding:20px 0 0 0;}

#mypage_main .photo {position:absolute;top:110px;left:690px;width:50px;height:50px;margin:3px 0 20px 20px;background:url('../../../../../_var/simbol/0.gif') center center no-repeat;}

#mypage_main table {width:650px;border-spacing:0px;border-collapse:collapse;letter-spacing:-1px;border-top:#E6E6E6 dotted 1px;color:#888;margin:0 0 20px 0;}
#mypage_main table caption {display:none;}
#mypage_main table thead {display:none;}
#mypage_main tbody td {padding:10px 0 10px 0;border-bottom:#E6E6E6 dotted 1px;color:#888;}
#mypage_main .key {padding-left:20px;color:#111;}

#mypage_main .post {width:760px;height:300px;overflow:auto;}

#mypage_main h5 {margin:0;padding:20px 0 7px 0;font-weight:normal;font-size:13px;font-family:gothic,dotum;color:#111111;}
#mypage_main ul {padding:0 0 0 15px;margin:0;}
#mypage_main li {list-style-type:none;height:12px;letter-spacing:-1px;overflow:hidden;margin:8px 0 8px 0;}

#mypage_main li .new {font:normal 10px arial;color:#ff0000;}
#mypage_main li .comment {font:normal 11px arial;color:#FC6138;}
#mypage_main li .trackback {font:normal 11px arial;color:#02ACD6;}
#mypage_main li .imgpos {margin-bottom:-1px;}
#mypage_main li .imgpos1 {margin-bottom:-1px;}
#mypage_main li a {color:#666666;}
#mypage_main li a:hover {text-decoration:underline;}
#mypage_main .none {color:#999999;font-size:11px;font-family:dotum;}