
.sbox {padding:0 0 15px 0;}
.sbox .btngray {margin:0;height:17px;}
.sbox .account {width:192px;}
.sbox div {padding:10px 0 0 0;}


#grptbl {width:100%;_width:99.6%;border:#dfdfdf solid 1px;background:#f9f9f9;margin:0 0 35px 0;}
#grptbl .grptr {height:250px;}
#grptbl .grptr td {width:10%;text-align:center;vertical-align:bottom;}
#grptbl .tabtr {height:30px;}
#grptbl .tabtr td {text-align:center;background:#efefef;}
#grptbl .info {font-size:11px;font-family:arial;color:#545454;}
#grptbl .info span {font-size:10px;font-family:arial;color:#c0c0c0;}
#grptbl .grp {background:#28BFFE;}

