

.sbox {}
.sbox .btngray {margin:0;height:17px;}
.sbox .account {width:170px;}

table {width:100%;_width:99.6%;margin:10px 0 40px 0;background:#f5f5f5;border-spacing:1px;border-collapse:separate;}
table .sbjtr {}
table .sbjtr th {text-align:center;height:25px;border-bottom:#dfdfdf solid 1px;background:#efefef;font-size:11px;font-family:dotum;color:#666;}
table .looptr {}
table .looptr td height:17px;}
table .sumtr {}
table .sumtr td {height:45px;border-top:#dfdfdf solid 1px;border-bottom:#dfdfdf solid 1px;}

table .datetd {text-align:center;background:#f9f9f9;font-family:dotum;font-size:11px;color:#545454;}
table .sumtd1 {text-align:center;background:#ffffff;font-weight:bold;font-family:arial;font-size:11px;color:#ff7700;}
table .sumtd2 {text-align:center;background:#f9f9f9;font-weight:bold;font-family:arial;font-size:11px;color:#111;}

