

#catebody {margin:0 0 30px 0;padding:0 0 30px 0;}
#category {float:left;width:220px;padding:0 0 0 0;}
#category .title {height:19px;background:url('../../../_core/image/tree/default/top.gif') left no-repeat #dfdfdf;background-position:4px 3px;padding:6px 0 0 23px;}

#category .tree {margin:0;padding:10px 0 10px 0;}
#category .tree ul {margin:0;padding:0;}
#category .tree li {width:194px;list-style-type:none;background:url('../../../_core/image/_public/ico_folder_01.gif') left no-repeat;background-position:5px 4px;padding:3px 0 0 24px;border:transparent solid 1px;_border:#ffffff solid 1px;letter-spacing:-1px;}
#category .tree li:hover {border:#ebebeb solid 1px;background:url('../../../_core/image/_public/ico_folder_01.gif') left no-repeat #f9f9f9;background-position:5px 4px;}
#category .move {cursor:move;}
#category .move span {position:relative;top:-2px;}

#catinfo {margin-left:220px;padding:0 0 0 20px;}
#catinfo li {list-style-type:none;padding:0 0 10px 0;}


