#catebody {margin:0 0 30px 0;padding:0 0 30px 0;}
#category {float:left;width:250px;padding:0 0 0 0;}
#category .title {height:19px;background:url('../../../../../_core/image/tree/default/top.gif') left no-repeat #dfdfdf;background-position:4px 3px;padding:6px 0 0 23px;font-weight:bold;}
#category .title .add {position:absolute;}
#category .title .add a {position:relative;top:-2px;left:58px;}

#category .tree {margin:0;padding:12px 0 0 0;}
#category .tree .tbox {padding:0 0 10px 0;margin:0 0 10px 0;border-bottom:#c0c0c0 dotted 1px;}
#category .tree table {width:100%;}
#category .tree td {}
#category .tree .t0 {width:35px;text-align:right;}
#category .tree .t1 span {font-family:arial;color:#999;font-size:11px;}
#category .tree .t1 .on {color:#ff0000;}
#category .tree .t2 {text-align:right;}
#category .tree .tt {}
#category .tree .tt td {font-weight:bold;color:#3B5999;letter-spacing:-1px;padding:0 0 5px 0;}
#category .tree .tt img {margin-bottom:-1px;}

#catinfo {margin-left:250px;padding:0 0 0 20px;}
#catinfo .title {background:#dfdfdf;height:25px;}
#catinfo .title .xleft {float:left;padding:6px 0 0 23px;}
#catinfo .title .xright {float:right;padding:7px 7px 0 0;}
#catinfo .title .xright a {font:normal 11px dotum;color:#888;}

#catinfo .td1 {padding:13px 0 7px 15px;width:90px;vertical-align:top;}
#catinfo .td2 {padding:7px 0 7px 0;}
#catinfo .td2 .sname {width:174px;}
#catinfo .notice {padding:15px 0 10px 15px;margin:0 0 20px 0;font-size:11px;font-family:dotum;color:#02B6D6;border-bottom:#dfdfdf dashed 1px;line-height:150%;}

#catinfo .guide {padding:10px 0 0 0;}
#catinfo .guide .help {padding:15px 0 15px 5px;line-height:150%;color:#333;text-align:left;}
#catinfo textarea {width:98%;height:550px;border:#c0c0c0 solid 1px;overflow:auto;padding:5px 0 5px 5px;margin-top:20px;line-height:150%;color:#000000;font-family:Courier new, arial, dotum;font-size:9pt;text-align:left;}
#catinfo .submitbox {margin:20px 0 20px 0;padding:15px 0 0 108px;border-top:#dfdfdf dashed 1px;}

#catinfo .guidebox {width:700px;padding:30px 0 30px 0;}
#catinfo .guidebox .gtt {font-weight:bold;font-size:20px;font-family:"malgun gothic";border-bottom:#dfdfdf solid 1px;padding:0 0 10px 0;}
#catinfo .guidebox .gtt1 {font-weight:bold;font-size:13px;color:#0379BD;padding:10px 0 10px 0;}
#catinfo .guidebox ol {padding:0;margin:0 0 0 30px;}
#catinfo .guidebox li {padding:5px 0 5px 0;line-height:140%;letter-spacing:-1px;}
#catinfo .guidebox li i {font-style:normal;font-weight:bold;}
#catinfo .guidebox p {color:#333333;line-height:160%;padding:20px 0 20px 0;}
#catinfo .guidebox .hbox {border-top:#dfdfdf solid 1px;margin-top:20px;padding-top:30px;}
#catinfo .guidebox .hbox .more {text-align:right;}
#catinfo .guidebox .hbox .more a {text-decoration:underline;color:#0379BD;}
#catinfo .structure {border:#c0c0c0 solid 5px;padding:20px;margin:20px 0 20px 0;width:250px;color:#555555;}
#catinfo .structure legend {font-weight:bold;}
#catinfo .structure span {font-weight:bold;color:#0379BD;}
#catinfo .none {padding:50px 0 0 0;font-size:12px;font-family:dotum;color:#c0c0c0;}
#catinfo .none img {position:relative;top:2px;}