#Uupdate {width:650px;padding:10px 0 10px 0;}
#Uupdate .tbox {height:100px;border-bottom:#c0c0c0 solid 3px;}
#Uupdate .tbox .tleft {float:left;}
#Uupdate .tbox .tleft .title {font-weight:bold;font-family:"malgun gothic";font-size:20px;}
#Uupdate .tbox .tleft p {color:#666666;line-height:150%;padding-top:10px;letter-spacing:-1px;}
#Uupdate .tbox .tleft p a {font-size:11px;font-family:dotum;color:#888888;text-decoration:underline;}
#Uupdate .tbox .tright {float:right;}
#Uupdate .tbox .tright .version {width:179px;height:71px;background:url('./image/bg_rv.gif') right no-repeat;}
#Uupdate .tbox .tright .version i {float:left;text-align:center;font-style:normal;font-weight:bold;color:#333333;font-size:45px;font-family:arial;display:inline-block;padding-top:14px;}
#Uupdate .tbox .tright .version .gap1 {width:50px;}
#Uupdate .tbox .tright .version .gap2 {width:77px;}
#Uupdate .tbox .tright .version .gap3 {width:52px;}

#Uupdate .count {font-weight:bold;padding:20px 0 10px 0;}
#Uupdate table {border-spacing:0px;border-collapse:collapse;border-top:#dfdfdf solid 1px;}
#Uupdate thead {}
#Uupdate thead th {padding:10px 0 10px 0;border-bottom:#dfdfdf solid 1px;background:#efefef;font-size:11px;font-family:dotum;color:#333333;}
#Uupdate tbody {}
#Uupdate tbody td {text-align:center;padding:6px 0 6px 0;border-bottom:#c0c0c0 dotted 1px;}

#Uupdate .t1 {width:70px;font-size:11px;color:#444444;}
#Uupdate .bx {font-weight:bold;color:#000000;}
#Uupdate .t2 {width:230px;letter-spacing:-1px;}
#Uupdate .t2 a {font-size:11px;font-family:dotum;color:#888888;text-decoration:underline;margin-left:30px;}
#Uupdate .t3 {width:100px;}
#Uupdate .t4 {width:140px;}
#Uupdate .t4 .btnGray01 {width:110px;margin-left:20px;}
#Uupdate .t5 {width:60px;}
#Uupdate .t6 {width:50px;}
#Uupdate .t7 {width:600px;text-align:center;padding:10px 0 10px 0;color:#999999;}
#Uupdate .udate1_1 {font-weight:bold;font-family:dotum;font-size:11px;color:#1D77FF;}
#Uupdate .udate1_2 {font-family:dotum;font-size:11px;color:#999999;letter-spacing:-1px;}

#Uupdate .pagebox01 {text-align:center;padding:20px 0 20px 0;}
#Uupdate .guide {color:#0473B2;padding:20px 0 20px 0;border-bottom:#c0c0c0 dotted 1px;line-height:150%;letter-spacing:-1px;}