
#sitebox {width:99.6%;}
#sitebox .savebtn {text-align:right;}
#sitebox .savebtn a,#sitebox .savebtn input {position:relative;top:-27px;left:-12px;}
#sitebox .pannel {border:#efefef solid 5px;padding:10px 10px 15px 20px;position:relative;}
#sitebox .pannel ul {padding:0;margin:0;}
#sitebox .pannel li {list-style-type:none;float:left;}
#sitebox .pannel input {display:none;}
#sitebox .pannel .site {padding:10px 13px 5px 13px;margin:10px 3px 15px 3px;border:#ffffff solid 1px}
#sitebox .pannel .site .delbtn {position:absolute;}
#sitebox .pannel .site .delbtn a {position:relative;top:-12px;left:59px;padding:5px;}
#sitebox .pannel .site .icon {width:60px;height:70px;}
#sitebox .pannel .site .icon img {width:60px;height:70px;}
#sitebox .pannel .site .name {position:absolute;}
#sitebox .pannel .site .namex {position:relative;top:10px;left:-15px;width:90px;height:15px;overflow:hidden;font:normal 11px dotum;text-align:center;overflow:hidden;color:#67794F;cursor:move;}
#sitebox .pannel .site:hover {border:#C7DAEB solid 1px;}
#sitebox .pannel .selected {border:#C7DAEB solid 1px;}
#sitebox .pannel .none {font:bold 12px dotum;color:#333;margin:10px 0 0 0;padding:3px 0 3px 21px;background:url('../../../../../_core/image/_public/ico_notice.gif') left 1px no-repeat;}
#sitebox .pannel .none1 {border-top:#dfdfdf dashed 1px;margin:5px 0 0 0;padding:10px 0 0 20px;font-size:11px;font-family:dotum;color:#999;line-height:150%;}

#sitebox .infobox {}
#sitebox .infobox .td1 {padding:7px 0 7px 15px;width:90px;}
#sitebox .infobox .td1 .himg {position:relative;top:1px;left:3px;}
#sitebox .infobox .td2 {padding:7px 15px 7px 0;}
#sitebox .infobox .td2 .sname {width:174px;}
#sitebox .infobox .td2 .select1 {width:180px;letter-spacing:-1px;}
#sitebox .infobox .td2 img {}
#sitebox .infobox .td2 .nodomain {color:#999;padding:3px 0 3px 21px;margin-left:-2px;background:url('../../../../../_core/image/_public/ico_notice.gif') left no-repeat;}
#sitebox .infobox .td2 .jtdomain {font:normal 11px dotum;color:#5392FB;text-decoration:underline;}
#sitebox .infobox .td2 ul {padding:0;margin:0;}
#sitebox .infobox .td2 li {list-style-type:none;padding:3px 0 3px 21px;background:url('./image/bg_earth.gif') left no-repeat;}
#sitebox .infobox .td2 li a {font:normal 12px arial;color:#222;}
#sitebox .infobox .td2 li a:hover {text-decoration:underline;}
#sitebox .infobox .m {font-size:11px;font-family:dotum;color:#888;letter-spacing:-1px;}

#sitebox .infobox .guide {font-size:11px;font-family:dotum;color:#555;line-height:170%;padding:20px 0 0 15px;margin:0 0 15px 0;border-top:#dfdfdf dashed 1px;}
#sitebox .infobox .headertail {padding:0 0 0 15px;display:none;}
#sitebox .infobox .headertail .tt {padding:25px 0 10px 0;font-weight:bold;}
#sitebox .infobox .headertail .tt span {font-weight:normal;font-size:11px;font-family:dotum;color:#999;}
#sitebox .infobox .headertail textarea {width:580px;overflow:auto;padding:5px 0 5px 5px;line-height:150%;color:#000000;font-family:"Courier new",arial,dotum;font-size:9pt;}
#sitebox .infobox .submitbox {margin:20px 0 20px 0;padding:15px 0 0 15px;border-top:#dfdfdf dashed 1px;}

#iconlayer {display:none;position:absolute;}
#iconlayer .icons {position:relative;top:2px;left:210px;width:300px;height:290px;border:#dfdfdf solid 3px;background:#ffffff;padding:10px;overflow:auto;}
#iconlayer .icons img {margin:5px 0 5px 5px;width:60px;height:60px;cursor:pointer;}
#iconlayer .icons img:hover {filter:alpha(opacity=70);opacity:0.7;}