

#catebody {margin:0 0 30px 0;padding:0 0 30px 0;}
#category {float:left;width:220px;padding:0 0 0 0;}
#category .title {height:19px;background:url('../../../../../_core/image/tree/default/top.gif') left no-repeat #dfdfdf;background-position:4px 3px;padding:6px 0 0 23px;}
#category .title select {width:110px;height:18px;position:relative;top:-6px;}
#category .title img {position:relative;top:-3px;}
#category .tt1 {font-weight:bold;color:#222;height:19px;background:url('../../../../../_core/image/_public/ico_folder_02.gif') left no-repeat;background-position:5px 7px;padding:8px 0 0 30px;margin:5px 0 0 0;border-bottom:#efefef solid 1px;}

#category .savebtn {text-align:right;}
#category .savebtn input,#category .savebtn img {position:relative;top:27px;cursor:pointer;}
#category ul {margin:0;padding:10px 0 0 0;display:none;}
#category li {list-style-type:none;padding:3px 0 3px 7px;color:#333;}
#category li input {display:none;}
#category li .drag {position:relative;top:2px;cursor:move;}

#category .joinimg {height:15px;background:url('../../../../../_core/image/tree/default/line.gif') left repeat-y;background-position:4px 0;}
#category .tree {position:relative;top:0;_top:-11px;left:4px;}
#category .ie7 {position:relative;top:-11px;}
#category .tree img {vertical-align:top;}
#category .tree .name {color:#111;padding:2px 0 0 0;}
#category .tree .name:hover {color:#AECD63;}
#category .tree .hidden {color:#c0c0c0;}
#category .tree .hidden:hover {color:#c0c0c0;}
#category .tree .mobile {position:relative;top:-3px;}
#category .tree .on {background:#AECD63;color:#ffffff;padding:2px;}
#category .tree .num {font-family:arial;font-size:10px;color:#ff7700;padding-left:3px;}
#category .none {height:15px;margin:15px 0 0 0;padding:3px 0 0 25px;background:url('../../../../../_core/image/_public/ico_notice.gif') left no-repeat;background-position:4px 2px;font-family:dotum;font-size:13px;color:#c0c0c0;}

#catinfo {margin-left:220px;padding:0 0 0 20px;}
#catinfo .title {background:#dfdfdf;height:25px;}
#catinfo .title .xleft {float:left;padding:6px 0 0 23px;font-weight:bold;}
#catinfo .title .xright {float:right;padding:7px 7px 0 0;}
#catinfo .title .xright a {font:normal 11px dotum;color:#888;}

#catinfo .td1 {padding:13px 0 7px 15px;width:80px;vertical-align:top;}
#catinfo .td1 .dn {position:relative;top:3px;}
#catinfo .td2 {padding:7px 0 7px 0;}
#catinfo .td2 .dn {position:relative;top:4px;}
#catinfo .td2 .sname1 {width:174px;}
#catinfo .td2 .sname2 {width:300px;}
#catinfo .td2 .select1 {width:180px;letter-spacing:-1px;}
#catinfo .td2 .guide {font-size:11px;font-family:dotum;color:#555;line-height:150%;padding:10px 0 0 0;}
#catinfo .td2 .w {width:179px;}
#catinfo .td2 .dm {position:relative;top:2px;padding:5px;margin:0 3px 0 0;border:#dfdfdf solid 1px;background:#f9f9f9;cursor:pointer;}
#catinfo .td2 .upfile {width:272px;}
#catinfo .td2 .add {height:40px;}
#catinfo .td2 textarea {padding:5px;margin:0;width:330px;height:100px;overflow-x:hidden;overflow-y:auto;line-height:150%;color:#000000;font-family:Courier new, arial, dotum;font-size:9pt;text-align:left;}
#catinfo .td2 span {font-size:11px;font-family:dotum;color:#555;}
#catinfo .td2 .addr1 {color:#666;line-height:170%;}
#catinfo .td2 .addr1 .link {font-weight:bold;color:#ff0000;}
#catinfo .sbcopybox {padding:0 0 15px 0;color:#888;}

#catinfo .notice {padding:15px 0 10px 15px;margin:0 0 20px 0;font-size:11px;font-family:dotum;color:#02B6D6;border-bottom:#dfdfdf dashed 1px;line-height:150%;}

#catinfo .submitbox {margin:20px 0 20px 0;padding:15px 0 0 100px;border-top:#dfdfdf dashed 1px;}