#zipbox .notice {padding:15px 0 10px 15px;margin:0 0 20px 0;font-size:12px;font-family:dotum;color:#02B6D6;border-bottom:#dfdfdf solid 1px;line-height:150%;}
#zipbox .td1 {padding:7px 0 7px 15px;width:110px;}
#zipbox .td2 {padding:7px 0 7px 0;color:#999;}
#zipbox .sfont {font-size:11px;font-family:dotum;color:#c0c0c0;padding:5px 0 5px 8px;}
#zipbox .submitbox {margin:20px 0 20px 0;padding:15px 0 0 15px;border-top:#dfdfdf solid 1px;}
