

#catebody {margin:0 0 30px 0;padding:0 0 30px 0;}
#category {float:left;width:220px;padding:0 0 0 0;}
#category .title {height:19px;background:url('./image/bg_top_01.gif') left no-repeat #dfdfdf;background-position:4px 3px;padding:6px 0 0 23px;font-weight:bold;}

#category .joinimg {height:15px;background:url('../../../../../_core/image/tree/default/line.gif') left repeat-y;background-position:4px 0;}
#category .tree {position:relative;top:0;_top:-11px;left:4px;}
#category .ie7 {position:relative;top:-11px;}
#category .tree img {vertical-align:top;}
#category .tree .ticon {display:inline-block;width:15px;height:15px;}
#category .tree .tdepth1 {background:url('./image/bg_folder_00.gif') left no-repeat;}
#category .tree .tdepth2 {background:url('./image/bg_earth.gif') left no-repeat;}

#category .tree .name {position:relative;top:-2px;font:normal 12px arial;color:#111;padding:2px 0 0 3px;}
#category .tree .name:hover {color:#AECD63;}
#category .tree .on {background:#AECD63;color:#ffffff;padding:2px;}
#category .tree .num {font-family:arial;font-size:10px;color:#ff7700;padding-left:3px;}
#category .tree .hidden {position:relative;top:3px;}
#category .none {height:15px;margin:15px 0 0 0;padding:3px 0 0 25px;background:url('../../../../../_core/image/_public/ico_notice.gif') left no-repeat;background-position:4px 2px;font-family:dotum;font-size:13px;color:#c0c0c0;}

#catinfo {margin-left:220px;padding:0 0 0 20px;}
#catinfo .title {background:#dfdfdf;height:25px;}
#catinfo .title .xleft {float:left;padding:6px 0 0 23px;font-weight:bold;}
#catinfo .title .xright {float:right;padding:7px 7px 0 0;}
#catinfo .title .xright a {font:normal 11px dotum;color:#888;}

#catinfo .td1 {padding:7px 0 7px 15px;width:70px;}
#catinfo .td2 {padding:7px 0 7px 0;}
#catinfo .td2 .sname {width:174px;}
#catinfo .td2 .select1 {width:180px;letter-spacing:-1px;}
#catinfo .td2 .dn {position:relative;top:3px;}


#catinfo .notice {padding:15px 0 10px 15px;margin:0 0 20px 0;font-size:11px;font-family:dotum;color:#02B6D6;border-bottom:#dfdfdf dashed 1px;line-height:150%;}

#catinfo .submitbox {margin:20px 0 20px 0;padding:15px 0 0 15px;border-top:#dfdfdf dashed 1px;}