#pages_join {}

#pages_join h2 {font-family:"malgun gothic",dotum;font-size:20px;padding:0 0 10px 0;margin:0 0 30px 0;border-bottom:#999999 solid 3px;}

#pages_join .msg {color:#1C5B8C;font-family:dotum;line-height:150%;}

#pages_join .tab {border-bottom:#dfdfdf solid 1px;padding:20px 0 0 0;}
#pages_join .tab ul {position:relative;top:1px;padding:0;margin:0;}
#pages_join .tab li {list-style-type:none;border-top:#dfdfdf solid 1px;border-right:#dfdfdf solid 1px;border-left:#dfdfdf solid 1px;padding:7px 7px 7px 7px;background:#f9f9f9;cursor:pointer;color:#666666;}
#pages_join .tab .selected {background:#000000;color:#ffffff;border-top:#000000 solid 1px;border-right:#000000 solid 1px;border-left:#000000 solid 1px;}

#pages_join .agreebox {border:#dfdfdf solid 1px;padding:15px 7px 7px 7px;}
#pages_join .agreebox textarea {border:0;width:100%;height:160px;line-height:130%;color:#666;}
#pages_join .agreebox .more {text-align:right;padding:15px 5px 0 0;}
#pages_join .agreebox .more a {color:#0000ff;font-size:11px;font-family:dotum;}

#pages_join .agreecheck {text-align:center;padding:20px 0 0 0;color:#333;letter-spacing:-1px;}
#pages_join .topline {border-top:#dfdfdf solid 1px;}
#pages_join .submitbox {padding:30px 0 10px 0;text-align:center;}

#pages_join .submitbox input {height:30px;margin:0 2px 0 2px;padding:0 10px 0 10px;font-weight:bold;}