#pages_join {}

#pages_join h2 {font-family:"malgun gothic",dotum;font-size:20px;padding:0 0 10px 0;margin:0 0 30px 0;border-bottom:#999999 solid 3px;}

#pages_join .tt {font-weight:bold;padding:40px 0 15px 0;}
#pages_join .msg {color:#1C5B8C;font-family:dotum;line-height:150%;}
#pages_join .agebox {font-weight:bold;}
#pages_join .msg1 {color:#666666;line-height:150%;}
#pages_join .msg1 .t1 {color:#2996ce;font-weight:bold;}
#pages_join .msg1 .t2 {color:#f74900;}
#pages_join .mbox {padding:20px 0 20px 0;margin:30px 0 30px 0;border:#efefef solid 5px;background:#f7f7f7;padding:15px;text-align:center;}
#pages_join .mbox span {padding:0 1px 0 0;}

#pages_join .agreecheck {text-align:center;padding:20px 0 0 0;color:#333;letter-spacing:-1px;}
#pages_join .topline {border-top:#dfdfdf solid 1px;}
#pages_join .submitbox {padding:50px 0 30px 0;text-align:center;}

#pages_join .submitbox input {height:30px;margin:0 2px 0 2px;padding:0 10px 0 10px;font-weight:bold;}