[install][prev][이전(Prev)]
[install][next][다음(Next)]
[install][licence][라이선스]
[install][db][데이터베이스 정보]
[install][user][사용자 정보]
[install][site][사이트 생성]
[install][msg1_1][아래의 라이선스정책에 동의하셔야 다음단계를 진행하실 수 있습니다.]
[install][msg1_2][<span class="b">라이선스동의</span>에 체크한 후 다음(Next)버튼을 클릭해 주세요.]
[install][msg1_3][위의 라이선스 정책에 동의합니다.]
[install][msg2_1][데이터베이스(Mysql) 정보를 정확히 입력해 주세요.]
[install][msg2_2][입력된 정보가 정확해야만 정상적으로 설치가 진행됩니다.]
[install][db_host][호스트(Host)]
[install][db_name][데이터베이스명(DB Name)]
[install][db_user][사용자명(User Name)]
[install][db_pw][패스워드(Password)]
[install][db_port][접속포트(Port)]
[install][db_tbl][테이블식별자(Table Prefix)]
[install][db_engine][DB엔진(Engine)]
[install][db_engines][기본엔진 : MyISAM]
[install][msg3_1][사용자 정보를 정확히 입력해 주세요.]
[install][msg3_2][입력된 정보로 신규회원가입이 이루어지며 최고관리자 권한을 갖게 됩니다.]
[install][user_name][이름(실명)]
[install][user_id][아이디]
[install][user_idrule][영문소문자+숫자 4~12자 이내]
[install][user_pw1][패스워드]
[install][user_pw2][패스워드 확인]
[install][user_email][이메일]
[install][msg4_1][생년월일,성별,연락처,주소 등 부가정보는 설치 후 마이페이지나 관리자페이지에서 추가로 등록해 주세요.]
[install][msg4_2][설치와 동시에 사이트를 생성할 수 있습니다. 사이트의 제목과 기본정보를 입력해 주세요.]
[install][msg4_3][설치하기 버튼을 클릭하면 셋팅 후 관리자페이지로 이동됩니다.]
[install][site_name][사이트 명칭]
[install][site_layout][사이트 레이아웃]
[install][site_type1][클래식 1]
[install][site_type2][클래식 2]
[install][site_type3][클래식 3]
[install][site_type4][갤러리]
[install][site_type5][블로그]
[install][install][설치하기(Install)]
[install][alert_1][innoDB에 대한 관련지식이 없으실 경우 엔진은 기본값인 MyISAM 을 사용해 주세요.      \n정말로 innoDB를 사용하시겠습니까?]
[install][alert_8][이름을 입력해 주세요.]
[install][alert_9][아이디를 입력하지 않았거나 형식이 맞지 않습니다.]
[install][alert_10][패스워드를 입력해 주세요.]
[install][alert_11][패스워드를 한번더 입력해 주세요.]
[install][alert_12][패스워드가 일치하지 않습니다.]
[install][alert_13][이메일주소를 입력하지 않았거나 잘못된 이메일 주소입니다.]
[install][alert_14][설치중에 있습니다. 잠시만 기다려 주세요.]
[install][alert_15][사이트명칭을 입력해 주세요.]
[install][alert_16][정말로 실행하시겠습니까?]