#pages_join {}

#pages_join h2 {font-family:"malgun gothic",dotum;font-size:20px;padding:0 0 10px 0;margin:0 0 30px 0;border-bottom:#999999 solid 3px;}

#pages_join .tt {font-weight:bold;padding:40px 0 15px 0;}
#pages_join .msg {color:#1C5B8C;font-family:dotum;line-height:150%;}

#pages_join .tab {border-bottom:#dfdfdf solid 1px;}
#pages_join .tab ul {position:relative;top:1px;padding:0;margin:0;}
#pages_join .tab li {list-style-type:none;float:left;border-top:#dfdfdf solid 1px;border-right:#dfdfdf solid 1px;border-bottom:#dfdfdf solid 1px;padding:7px 7px 7px 7px;background:#f9f9f9;cursor:pointer;color:#666666;font-size:12px;font-family:dotum;}
#pages_join .tab .leftside {border-left:#dfdfdf solid 1px;}
#pages_join .tab .selected {border-bottom:#ffffff solid 1px;background:#ffffff;color:#000000;}

#pages_join .agreebox {border-left:#dfdfdf solid 1px;border-right:#dfdfdf solid 1px;border-bottom:#dfdfdf solid 1px;padding:15px 7px 7px 7px;}
#pages_join .agreebox textarea {border:0;width:100%;height:160px;overflow-x:hidden;overflow-y:auto;line-height:130%;color:#666;font-family:dotum;scrollbar-base-color:#E1E1E1;scrollbar-face-color:#FFF;scrollbar-track-color:#FFF;scrollbar-highlight-color:#FFF;scrollbar-3dlight-color:#E1E1E1;scrollbar-shadow-color:#E1E1E1;scrollbar-darkshadow-color:#FFF;scrollbar-arrow-color:#7a7a7a;}
#pages_join .agreebox .ag1 {height:255px;}
#pages_join .hide {display:none;}


#pages_join .agreecheck {text-align:center;padding:20px 0 0 0;color:#333;letter-spacing:-1px;}
#pages_join .topline {border-top:#dfdfdf solid 1px;}
#pages_join .submitbox {padding:50px 0 30px 0;text-align:center;}

#pages_join .submitbox input {height:30px;margin:0 2px 0 2px;padding:0 10px 0 10px;font-weight:bold;}