.widget_main01 {padding:0;}
.widget_main01 .wleft {margin-right:290px;}

.widget_main01 .wleft .review01 {position:relative;padding:0 0 25px 0;}
.widget_main01 .wleft .review01 h6 {border-bottom:#dfdfdf solid 1px;padding:0 0 9px 0;margin:0 0 15px 0;font-weight:bold;font-family:"gothic","dotum";font-size:13px;color:#384799;}
.widget_main01 .wleft .review01 h6 a {color:#384799;}
.widget_main01 .wleft .review01 ul {padding:0;margin:0;height:140px;}
.widget_main01 .wleft .review01 li {list-style-type:none;padding:0 0 10px 0;margin:0;line-height:160%;height:12px;overflow:hidden;}
.widget_main01 .wleft .review01 li a {color:#111;}
.widget_main01 .wleft .review01 li a:hover {text-decoration:underline;}
.widget_main01 .wleft .review01 .photo {float:left;width:115px;height:135px;margin-right:15px;margin-top:5px;}
.widget_main01 .wleft .review01 .photo img {background:#efefef;}
.widget_main01 .wleft .review01 .photo span {clear:both;display:block;line-height:130%;font-family:dotum;text-align:center;padding:7px 0 0 0;height:30px;overflow:hidden;}
.widget_main01 .wleft .review01 .photo span a {color:#666;}
.widget_main01 .wleft .review01 .photo span a:hover {color:#333;text-decoration:underline;}
.widget_main01 .wleft .review01 .more {position:absolute;top:4px;right:1px;font-size:11px;font-family:dotum;color:#c0c0c0;}
.widget_main01 .wleft .review01 .more:hover {text-decoration:underline;color:#000000;}

.widget_main01 .wleft .post01 {position:relative;padding:0;}
.widget_main01 .wleft .post01 h6 {border-bottom:#dfdfdf solid 1px;padding:0 0 9px 0;margin:0 0 15px 0;font-weight:bold;font-family:"gothic","dotum";font-size:13px;color:#384799;}
.widget_main01 .wleft .post01 h6 a {color:#384799;}
.widget_main01 .wleft .post01 ul {padding:0;margin:0;}
.widget_main01 .wleft .post01 li {list-style-type:none;padding:5px 0 5px 0;line-height:140%;}
.widget_main01 .wleft .post01 li a {color:#333333;}
.widget_main01 .wleft .post01 li a:hover {text-decoration:underline;}
.widget_main01 .wleft .post01 .none {border:0;}
.widget_main01 .wleft .post01 .more {position:absolute;top:3px;right:1px;font-size:11px;font-family:dotum;color:#c0c0c0;}
.widget_main01 .wleft .post01 .more:hover {text-decoration:underline;color:#000000;}
.widget_main01 .wleft .post01 .nogap {margin:0 0 15px 0;}

.widget_main01 .wright {float:right;width:250px;}

.widget_main01 .wright .review01 {position:relative;padding:0;}
.widget_main01 .wright .review01 h6 {border-bottom:#dfdfdf solid 1px;padding:0 0 9px 0;margin:0 0 15px 0;font-weight:bold;font-family:"gothic","dotum";font-size:13px;color:#384799;}
.widget_main01 .wright .review01 h6 a {color:#384799;}
.widget_main01 .wright .review01 ul {padding:0;margin:0;}
.widget_main01 .wright .review01 li {list-style-type:none;clear:both;padding:0;margin:0;height:60px;}
.widget_main01 .wright .review01 li img {float:left;margin:3px 10px 0 0;background:#efefef;}
.widget_main01 .wright .review01 li span {line-height:150%;font-family:dotum;}
.widget_main01 .wright .review01 li span a {color:#666;}
.widget_main01 .wright .review01 li span a:hover {color:#333;text-decoration:underline;}
.widget_main01 .wright .review01 .more {position:absolute;top:3px;right:1px;font-size:11px;font-family:dotum;color:#c0c0c0;}
.widget_main01 .wright .review01 .more:hover {text-decoration:underline;color:#000000;}

.widget_main01 .wright .gallery01 {position:relative;padding:30px 0 0 0;}
.widget_main01 .wright .gallery01 h6 {border-bottom:#dfdfdf solid 1px;padding:0 0 9px 0;margin:0 0 15px 0;font-weight:bold;font-family:"gothic","dotum";font-size:13px;color:#384799;}
.widget_main01 .wright .gallery01 h6 a {color:#384799;}
.widget_main01 .wright .gallery01 ul {padding:0;margin:0;}
.widget_main01 .wright .gallery01 li {list-style-type:none;padding:0;margin:0 20px 0 0;width:115px;height:145px;float:left;}
.widget_main01 .wright .gallery01 li img {background:#efefef;}
.widget_main01 .wright .gallery01 li span {display:block;line-height:130%;font-family:dotum;text-align:center;padding:7px 0 0 0;height:30px;overflow:hidden;}
.widget_main01 .wright .gallery01 li span a {color:#666;}
.widget_main01 .wright .gallery01 li span a:hover {color:#333;text-decoration:underline;}
.widget_main01 .wright .gallery01 .nogap {margin:0;}
.widget_main01 .wright .gallery01 .more {position:absolute;top:30px;right:1px;font-size:11px;font-family:dotum;color:#c0c0c0;}
.widget_main01 .wright .gallery01 .more:hover {text-decoration:underline;color:#000000;}

.widget_main01 .comment {font:normal 11px arial;color:#FC6138;}
.widget_main01 .new {font:normal 10px arial;color:#ff0000;}
