#adminControl {background:#464646;height:29px;border-bottom:#555555 solid 1px;}
#adminControl .abox {border-bottom:#343434 solid 1px;}
#adminControl .abox a {color:#cccccc;}
#adminControl .aleft {float:left;}
#adminControl .aleft ul {margin:0;padding:0;}
#adminControl .aleft li {list-style-type:none;float:left;padding:9px 13px 0 13px;border-left:#555555 solid 1px;border-right:#343434 solid 1px;font-size:11px;font-family:dotum;height:19px;color:#777;}
#adminControl .aleft li a:hover {}
#adminControl .aleft li img {margin-bottom:-3px;position:relative;top:-1px;}
#adminControl .aleft li .rx {position:relative;top:-5px;}
#adminControl .aleft li .editpage {color:#22ECEE;}
#adminControl .aleft .noline {border-right:0;}
#adminControl .aright {float:right;width:245px;}
#adminControl .aright ul {float:right;margin:0;padding:0;list-style-type:none;}
#adminControl .aright li {float:left;height:28px;}
#adminControl .aright .symbol img {margin:6px 6px 0 0;}
#adminControl .aright .adminname a {display:block;padding-top:9px;outline:none;}
#adminControl .aright .arrow {border-right:#343434 solid 1px;}
#adminControl .aright .arrow img {padding:8px 10px 15px 10px;margin:4px 0 0 0;}
#adminControl .aright .tool {border-left:#555555 solid 1px;cursor:pointer;}
#adminControl .aright .tool img {padding:2px 6px 6px 6px;margin:4px 4px 0 0;}
#adminControl .aright .amenu {position:absolute;width:0px;height:0px;z-index:1;display:none;}
#adminControl .aright .amenubox {position:relative;top:30px;width:240px;background:#fff;border-top:#efefef solid 1px;border-left:#333 solid 1px;border-right:#333 solid 1px;border-bottom:#2E3C69 solid 2px;}
#adminControl .aright .amenubox ol {padding:0 10px 10px 10px ;margin:0;list-style-type:none;}
#adminControl .aright .amenubox li {float:none;height:12px;padding:4px 0 4px 5px;}
#adminControl .aright .amenubox li a {color:#666666;}
#adminControl .aright .amenubox li:hover {background:#efefef;}
#adminControl .aright .amenubox .tx {padding:20px 0 7px 10px;margin-bottom:10px;font-weight:bold;border-bottom:#dddddd solid 1px;}
#adminControl .aright .amenubox .tx:hover {background:#ffffff;}
#adminControl .aright .amenubox .tx a {position:absolute;width:0;height:0;}
#adminControl .aright .amenubox .tx a img {position:relative;left:110px;top:-4px;}
#adminControl .aright .amenubox .nx {font-weight:normal;padding:5px 0 5px 10px;margin:0;border-bottom:0;}
#adminControl .aright .amenubox .nx a {width:150px;height:12px;color:#000000;outline:none;}
#adminControl .aright .amenubox .nx i {font-style:normal;color:#999999;}
#adminControl .aright .amenubox .tline {padding-top:15px;}
#adminControl .aright .amenubox .uline {padding-bottom:15px;margin-bottom:10px;border-bottom:#dddddd solid 1px;}
#adminControl .aright .adminbox {width:180px;left:29px;}
