/* common */
body {padding:0;margin:0;}
img,p {border:0;margin:0;padding:0;}
form {display:inline;margin:0;padding:0;}

.b {font-weight:bold;}
.u {text-decoration:underline;}
.s {text-decoration:line-through;}
.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.shift {position:relative;left:-2px;}
.hand {cursor:pointer;}
.hide {display:none;}
.sysMsgBox {padding:30px;font-size:15px;font-family:"malgun gothic",dotum;color:#ff0000;font-weight:bold;border:#dfdfdf solid 5px;background:#f9f9f9;text-align:center;}
.sysMsgBox img {position:relative;top:2px;left:-2px;}
.filter {filter:alpha(opacity=20);opacity:0.2;}
.gray {filter:gray();}
.nopm {padding:0;margin:0;}
/* @common */

/* mobile */
#pctomobile {margin:20px 0 0 0;text-align:center;border:#dfdfdf solid 1px;background:#f9f9f9;font-size:25px;font-weight:bold;}
#pctomobile a {display:block;margin:5px;padding:15px;}
/* @mobile */

/* member layer */
.mbrLayerBlock {position:absolute;display:block;background:#ffffff;width:310px;height:450px;border:#333333 solid 1px;border-bottom:#333333 solid 2px;}
/* @member layer */

/* button */
.btn00 {display:inline-block;border-top:#DFDFDF solid 1px;border-left:#DFDFDF solid 1px;border-right:#DFDFDF solid 1px;border-bottom:#C0C0C0 solid 1px;}
.btn00 a {display:inline-block;border-top:#FFFFFF solid 1px;background:#EFEFEF;padding:4px 7px 4px 7px;color:#444;font-family:dotum;font-size:11px;text-decoration:none;letter-spacing:-1px;}
.btn00 a:hover {background:#E1E1E1;}
.btn00 input {margin:0;cursor:pointer;border-top:#DFDFDF solid 1px;border-left:#DFDFDF solid 1px;border-right:#DFDFDF solid 1px;border-bottom:#C0C0C0 solid 1px;background:#EFEFEF;height:18px;color:#444;font-family:dotum;font-weight:bold;font-size:11px;text-decoration:none;letter-spacing:-1px;}
.btn00 input:hover {background:#E1E1E1;}

.btn01 {display:inline-block;border-top:#29447E solid 1px;border-left:#29447E solid 1px;border-right:#29447E solid 1px;border-bottom:#1A356E solid 1px;}
.btn01 a {display:inline-block;border-top:#8A9CC2 solid 1px;background:#5972A8;padding:3px 7px 4px 7px;color:#ffffff;font-family:dotum;font-weight:bold;font-size:11px;text-decoration:none;letter-spacing:-1px;}
.btn01 a:hover {background:#687EAC;color:#ffffff;}
.btn01 input {margin:0;cursor:pointer;border-top:#8A9CC2 solid 1px;border-left:#5972A8 solid 1px;border-right:#5972A8 solid 1px;border-bottom:#5972A8 solid 1px;background:#5972A8;height:18px;color:#ffffff;font-family:dotum;font-weight:bold;font-size:11px;text-decoration:none;letter-spacing:-1px;}
.btn01 input:hover {background:#687EAC;}

.btn02 {display:inline-block;border-top:#3B6E22 solid 1px;border-left:#3B6E22 solid 1px;border-right:#3B6E22 solid 1px;border-bottom:#2C5115 solid 1px;}
.btn02 a {display:inline-block;border-top:#98C286 solid 1px;background:#6DA952;padding:3px 7px 4px 7px;color:#ffffff;font-family:dotum;font-weight:bold;font-size:11px;text-decoration:none;letter-spacing:-1px;}
.btn02 a:hover {background:#6DB947;color:#ffffff;}
.btn02 input {margin:0;cursor:pointer;border-top:#98C286 solid 1px;border-left:#6DA952 solid 1px;border-right:#6DA952 solid 1px;border-bottom:#6DA952 solid 1px;background:#6DA952;height:18px;color:#ffffff;font-family:dotum;font-weight:bold;font-size:11px;text-decoration:none;letter-spacing:-1px;}
.btn02 input:hover {background:#6DB947;}

.btnblue {cursor:pointer;border:#3399DD solid 1px;background:url('../image/_public/grad_blue.jpg') #33C9FD left bottom repeat-x;color:#ffffff;height:21px;}
.btngray {cursor:pointer;border:#666666 solid 1px;background:url('../image/_public/grad_gray.jpg') #B3B3B3 left bottom repeat-x;color:#ffffff;height:21px;}

.btnGray01 {display:block;height:27px;background:url('../image/btn/gray_01_left.jpg') left no-repeat;}
.btnGray01 i {display:block;height:27px;background:url('../image/btn/gray_01_right.jpg') right no-repeat;font-weight:bold;font-family:dotum;font-size:11px;font-style:normal;color:#333333;}
.btnGray01 s {display:inline-block;text-decoration:none;padding:9px 0 0 10px;letter-spacing:-1px;}

.plusBlue s {background:url('../image/btn/add_01_blue.gif') 10px 6px no-repeat;padding:9px 0 0 30px;}
.txtCenter {text-align:center;}
.noIcon s {padding:9px 0 0 0;}
/* @button */

/* pagebpx */
.pagebox01 {}
.pagebox01 .selected,.pagebox .notselected:hover {padding:0 4px 0 4px;font-family:arial;font-size:12px;font-weight:bold;color:#FF5B01;}
.pagebox01 .notselected {padding:0 4px 0 4px;text-decoration:none;font-family:arial;font-size:12px;color:#222;font-weight:bold;}
.pagebox01 img {padding:0 4px 0 4px;margin-bottom:-2px;}

.pagebox02 {}
.pagebox02 .selected,.pagebox .notselected:hover {padding:4px 8px 3px 8px;margin:0 1px 0 1px;border:#dfdfdf solid 1px;font-family:arial;font-size:12px;font-weight:bold;color:#01939c;}
.pagebox02 .notselected {padding:4px 8px 3px 8px;margin:0 1px 0 1px;border:#ffffff solid 1px;text-decoration:none;font-family:arial;font-size:12px;font-weight:bold;color:#777;}
.pagebox02 .split {display:none;}
.pagebox02 img {padding:0 4px 0 4px;margin-bottom:-2px;}
/* @pagebox */

/* input */
.input {border:#dfdfdf solid 1px;padding:2px 0 0 2px;margin:1px;height:16px;}
.input:hover {border:#cdcdcd solid 1px;background:#f9f9f9;}
.input:focus {border:#FF9D1D solid 2px;margin:0;background:#f9f9f9;}
/* @input */

/* scroll */
.scrollbar01 {scrollbar-base-color:#E1E1E1;scrollbar-face-color:#FFF;scrollbar-track-color:#FFF;scrollbar-highlight-color:#FFF;scrollbar-3dlight-color:#E1E1E1;scrollbar-shadow-color:#E1E1E1;scrollbar-darkshadow-color:#FFF;scrollbar-arrow-color:#7a7a7a;}
/* @scroll */