.widget_review01 {position:relative;padding:0;}
.widget_review01 h6 {border-bottom:#dfdfdf solid 1px;padding:0 0 9px 0;margin:0 0 5px 0;font-weight:bold;font-family:"gothic","dotum";font-size:13px;color:#384799;}
.widget_review01 h6 a {color:#384799;}
.widget_review01 ul{ margin:0; padding:0; list-style:none; font-size:12px; font-family:Tahoma, Geneva, sans-serif;}
.widget_review01 li{ position:relative; padding:15px 0; margin:0 0 -1px 0; border:1px solid #eee; border-top:0; border-left:0; border-right:0; vertical-align:top; *zoom:1;}
.widget_review01 li:after{ content:""; display:block; clear:both;}
.widget_review01 a{ text-decoration:none; cursor:pointer;}
.widget_review01 a strong{ display:inline-block; margin:0 0 4px 0; color:#333;}
.widget_review01 a:hover strong,
.widget_review01 a:active strong,
.widget_review01 a:focus strong{ text-decoration:underline;}
.widget_review01 .thumb{ float:left; display:inline-block; margin:0 15px 0 0; -moz-box-shadow:0 0 1px #666; -webkit-box-shadow:0 0 1px #666;}
.widget_review01 .thumb img{ border:0; display:block;}
.widget_review01 p{ margin:0; line-height:1.4; color:#767676;}
.widget_review01 .more {position:absolute;top:4px;right:1px;font-size:11px;font-family:dotum;color:#c0c0c0;}
.widget_review01 .more:hover {text-decoration:underline;color:#000000;}
