#pages_top {}

#pages_top .title {padding:0 0 7px 0;margin:0 0 25px 0;border-bottom:#dfdfdf solid 1px;}
#pages_top .title .xl {}
#pages_top .title .xl h2 {font-family:"malgun gothic",dotum;font-size:20px;font-weight:bold;padding:0 0 10px 0;margin:0;}
#pages_top .title .xr {}


#pages_top .title .xr ul {padding:0;margin:0;}
#pages_top .title .xr li {position:relative;top:8px;height:26px;list-style-type:none;float:left;border-top:#dfdfdf solid 1px;border-right:#dfdfdf solid 1px;border-bottom:#dfdfdf solid 1px;background:#f9f9f9;cursor:pointer;color:#666666;}
#pages_top .title .xr li a {display:block;padding:7px 7px 7px 7px;}
#pages_top .title .xr li a img {position:relative;top:-3px;}
#pages_top .title .xr .leftside {border-left:#dfdfdf solid 1px;border-right:0;}
#pages_top .title .xr .selected {border-bottom:#ffffff solid 1px;background:#ffffff;color:#000000;}

#pages_top .title .xr li .morebox {position:absolute;display:none;}
#pages_top .title .xr li .morebox ul {position:relative;top:26px;left:-1px;width:69px;padding:1px;margin:0;border:#dfdfdf solid 1px;background:#ffffff;}
#pages_top .title .xr li .morebox li {list-style-type:none;padding:0;margin:0;float:none;height:22px;border-top:0;border-right:0;border-bottom:0;top:0;background:#ffffff;}
#pages_top .title .xr li .morebox li a {display:block;padding:3px 0 3px 6px;height:15px;}
#pages_top .title .xr li .morebox li:hover {background:#f9f9f9;}
