#loglist {padding:0 0 30px 0;}
#loglist .info {padding:0 0 10px 0;}
#loglist table {width:100%;border-spacing:0px;border-collapse:collapse;}
#loglist table caption {display:none;}
#loglist thead th {height:28px;border-top:#D2D2D2 solid 1px;border-bottom:#D2D2D2 solid 1px;background:url('../../../../../_core/image/_public/bg_list_tt.jpg');font-size:11px;font-family:dotum;font-weight:normal;color:#787878;}
#loglist thead .side1 {border-left:#D2D2D2 solid 1px;}
#loglist thead .side2 {border-right:#D2D2D2 solid 1px;}
#loglist tbody td {text-align:center;color:#888888;font-family:arial;font-size:10px;border-bottom:#E6E6E6 solid 1px;letter-spacing:-1px;}
#loglist .cat {font-size:12px;font-family:gothic,gulim;color:#888;letter-spacing:-1px;}
#loglist .agent {font: 11px arial;}
#loglist .agent img {position:relative;top:3px;}
#loglist .sbj {padding:3px 0 2px 0;letter-spacing:-1px;font-size:12px;font-family:gulim;color:#222222;text-decoration:none;line-height:150%;}
#loglist .sbj .new {color:#ff0000;}
#loglist .sbj1 {text-align:left;padding:5px 0 3px 0;font-size:12px;font-family:gothic,gulim;color:#222222;line-height:150%;}
#loglist .pagebox01 {text-align:center;padding:15px 0 0 0;}
#loglist .none {display:none;}
#loglist .searchform {padding:30px 0 0 0;text-align:center;}
#loglist .searchform select {font-size:12px;font-family:gulim;height:20px;vertical-align:bottom;}
