/* list */
#bbslist {margin:auto;padding:0;}
#bbslist .infox {height:28px;border-bottom:#dfdfdf solid 1px;}
#bbslist .infox .article {float:left;font-size:11px;font-family:gothic,dotum;color:#c0c0c0;padding:5px 0 0 0;}
#bbslist .infox .article a {position:relative;top:3px;left:3px;}
#bbslist .infox .category {float:right;}
#bbslist .infox .category select .sline {color:#c0c0c0;}

#bbslist .title {border-bottom:#4B4B4B solid 2px;padding:15px 0 10px 0;}
#bbslist .title .article {float:left;}
#bbslist .title .name {font:bold 12px gulim;color:#FF5E0F;}
#bbslist .title .stat {font:normal 11px dotum;color:#c0c0c0;padding:0 0 0 5px;}
#bbslist .title .category {float:right;}
#bbslist .title .category select .sline {color:#c0c0c0;}

#bbslist .list {border-bottom:#dfdfdf solid 1px;padding:10px 0 10px 0;letter-spacing:-1px;}
#bbslist .list:hover {background:#f9f9f9;}

#bbslist .list .sbj {}
#bbslist .list .sbj .notice {position:relative;top:4px;padding:0 1px 0 0;}
#bbslist .list .sbj .imgpos {position:relative;top:3px;padding:0 3px 0 0;}
#bbslist .list .sbj .cat {font:bold 12px douum;color:#666;}
#bbslist .list .sbj .subject {cursor:pointer;padding:1px 0 1px 0;color:#444;line-height:150%;font-weight:bold;font-size:13px;}
#bbslist .list .sbj .ntc {color:#0000ff;}
#bbslist .list .sbj .comment {font:normal 11px arial;color:#FC6138;}
#bbslist .list .sbj .trackback {font:normal 11px arial;color:#02ACD6;}
#bbslist .list .sbj .new {font:normal 11px arial;color:#ff0000;}
#bbslist .list .info {padding:5px 0 0 0;font:normal 11px dotum;color:#aaa;}
#bbslist .list .info .imgpos {position:relative;top:1px;padding:0 1px 0 5px;}
#bbslist .list .info .notice {color:#ff0000;font-size:13px;}
#bbslist .list .info span {color:#dfdfdf;font-size:10px;padding:0 4px 0 4px;}
#bbslist .dselected {background:#f9f9f9;}
#bbslist .none {border-bottom:#dfdfdf solid 1px;padding:20px 0 20px 0;text-align:center;letter-spacing:-1px;font:normal 12px gulim;color:#c0c0c0;}
#bbslist .pagebox01 {padding:20px 0 20px 0;text-align:center;}
#bbslist .searchform {text-align:center;}
#bbslist .searchform .input {width:150px;height:17px;font-weight:bold;}
/* @list */
