#paperlist {padding:0 0 30px 0;}
#paperlist .info {height:28px;}
#paperlist .info .article {float:left;font-size:11px;font-family:gothic,dotum;color:#c0c0c0;padding:5px 0 0 5px;}
#paperlist .info .category {float:right;}
#paperlist table {width:100%;border-spacing:0px;border-collapse:collapse;}
#paperlist table caption {display:none;}
#paperlist thead th {height:28px;border-top:#D2D2D2 solid 1px;border-bottom:#D2D2D2 solid 1px;background:url('../../../../../_core/image/_public/bg_list_tt.jpg');font-size:11px;font-family:dotum;font-weight:normal;color:#787878;}
#paperlist thead .side1 {border-left:#D2D2D2 solid 1px;}
#paperlist thead .side2 {border-right:#D2D2D2 solid 1px;}
#paperlist tbody td {text-align:center;color:#888888;font-family:arial;font-size:10px;border-bottom:#E6E6E6 solid 1px;letter-spacing:-1px;}
#paperlist .cat {font-size:12px;font-family:gothic,gulim;color:#888;letter-spacing:-1px;}
#paperlist .sbj {text-align:left;padding:5px 0 3px 0;letter-spacing:-1px;}
#paperlist .sbj a {font-size:12px;font-family:gulim;color:#222222;text-decoration:none;line-height:150%;}
#paperlist .sbj a:hover {text-decoration:underline;}
#paperlist .sbj .new {color:#ff0000;}
#paperlist .sbj1 {text-align:left;padding:5px 0 3px 0;font-size:12px;font-family:gothic,gulim;color:#222222;line-height:150%;}
#paperlist .pagebox01 {text-align:center;padding:15px 0 15px 0;}
#paperlist .none {display:none;}
#paperlist .isread {filter:alpha(opacity=20);opacity:0.2;}