#pages_join {}

#pages_join .msg {padding:0 0 25px 0;color:#1C5B8C;font-family:dotum;line-height:150%;}
#pages_join .msg span {font-size:11px;color:#ff0000;}

#pages_join table {width:100%;border-spacing:0px;border-collapse:collapse;letter-spacing:-1px;border-top:#E6E6E6 solid 1px;color:#888;}
#pages_join table caption {display:none;}
#pages_join table thead {display:none;}
#pages_join tbody td {padding:12px 0 12px 0;border-bottom:#E6E6E6 solid 1px;color:#888;}
#pages_join tbody td div {padding:7px 0 0 0;line-height:150%;}
#pages_join tbody td .remail {position:relative;top:-3px;left:-2px;color:#111;}
#pages_join tbody td .btn {margin:1px;}
#pages_join tbody td .hmsg {font-weight:bold;color:#ff0000;}
#pages_join tbody td .hmsg .ok {color:#0000ff;}
#pages_join .key {font-weight:bold;color:#111;}
#pages_join .submitbox {padding:20px 0 20px 80px;}
#pages_join .submitbox input {height:30px;margin:0 2px 0 2px;padding:0 10px 0 10px;font-weight:bold;}