#editorbox {}
#editorbox .title {font-weight:bold;padding:10px 0 15px 0;margin:0 0 20px 0;border-bottom:#dfdfdf solid 1px;}

#editorbox .td1 {padding:7px 0 7px 15px;width:130px;}
#editorbox .td2 {padding:7px 0 7px 0;}
#editorbox .td2 textarea {overflow:auto;border:#EFEFEF solid 1px;padding:6px 0 6px 10px;line-height:150%;width:350px;height:100px;}
#editorbox .td2 .guide {padding:10px 0 0 0;line-height:150%;font-family:dotum;font-size:11px;color:#888888;}
#editorbox .td2 .del {padding:5px;position:relative;top:3px;}

#editorbox .submitbox {margin:20px 0 20px 0;padding:15px 0 0 15px;border-top:#dfdfdf solid 1px;}