/* list */
#bbslist {margin:auto;padding:0 0 30px 0;}

#bbslist .sbox {padding:0 0 15px 0;}
#bbslist .sbox .btngray {margin:0;height:17px;}
#bbslist .sbox .btnblue {margin:0;height:17px;}
#bbslist .sbox .account {width:192px;}
#bbslist .sbox .input {height:14px;}
#bbslist .sbox .input:focus {border:#dfdfdf solid 1px;margin:1px;}
#bbslist .sbox div {padding:10px 0 0 0;}

#bbslist .info {height:28px;}
#bbslist .info .article {float:left;font-size:11px;font-family:gothic,dotum;color:#c0c0c0;padding:5px 0 0 5px;}
#bbslist .info .article a {position:relative;top:3px;left:3px;}
#bbslist .info .category {float:right;}
#bbslist .info .category select .sline {color:#c0c0c0;}
#bbslist table {width:100%;_width:99.6%;border-spacing:0px;border-collapse:collapse;}
#bbslist table caption {display:none;}
#bbslist thead th {height:28px;border-top:#D2D2D2 solid 1px;border-bottom:#D2D2D2 solid 1px;background:url('../../../../../_core/image/_public/bg_list_tt.jpg');font-size:11px;font-family:dotum;font-weight:normal;color:#787878;}
#bbslist thead .side1 {border-left:#D2D2D2 solid 1px;}
#bbslist thead .side2 {border-right:#D2D2D2 solid 1px;}
#bbslist tbody .noticetr td {background:url('');background:#FAFAFA;border-bottom:#EBEBEB solid 1px;}
#bbslist tbody .noticetr td a {font-weight:bold;}
#bbslist tbody td {text-align:center;color:#888888;font-family:arial;font-size:10px;border-bottom:#E6E6E6 solid 1px;letter-spacing:-1px;}
#bbslist .now {color:#ff0000;font-size:11px;}
#bbslist .cat {font-size:12px;font-family:gothic,gulim;color:#888;}
#bbslist .sbj {text-align:left;padding:5px 0 3px 10px;letter-spacing:0px;}
#bbslist .sbj .imgpos {margin-bottom:-1px;}
#bbslist .sbj a {font-size:12px;font-family:gothic,gulim;color:#222222;text-decoration:none;line-height:150%;}
#bbslist .sbj a:hover {text-decoration:underline;}
#bbslist .sbj .new {color:#ff0000;}
#bbslist .sbj .comment {font:normal 11px arial;color:#FC6138;}
#bbslist .sbj .trackback {font:normal 11px arial;color:#02ACD6;}
#bbslist .sbj1 {text-align:left;padding:5px 0 3px 10px;font-size:12px;font-family:gothic,gulim;color:#222222;line-height:150%;}
#bbslist .name {}
#bbslist .hit {font-size:10px;color:#515190;}
#bbslist .pagebox01 {padding:20px 0 20px 0;}
/* @list */